<% layout('layout') -%>
<% stylesheet('/css/style.css') -%>

<div class='home_btn_container'>
    <a data-role="button" href='dag' class='home_btn'>Dag</a>
    <a data-role="button" href='week' class='home_btn'>Week</a>
    <a data-role="button" href='grafiek' class='home_btn'>Grafiek</a>
    <a data-role="button" href='info' class='home_btn'>Info</a>
    <a data-role="button" href='stopwatch' class='home_btn'>Stopwatch</a>
</div>

<% block('header', "Buteyko Scheduler") -%>
<% block('footer', "<p>I'm in the footer.</p>") -%>
