@media only screen and (max-width:1280px) and (-webkit-min-device-pixel-ratio: 1.0),
only screen and (max-width:1280px) and (min-resolution: 120dpi),
only screen and (orientation: landscape) {
    /* ipad 3 portrait / landscape
      ipad 2 portrait / landscape
      ipad 1 portrait / landscape
      amazon kindle fir hd portrait
      nexus 7 landscape
      Samsung Galaxy Note 10.1 landscape
      Samsung Galaxy Tab 2 10.1 landscape
      LG Nexus 4 portrait
      Samsung Galaxy Note portrait

      Desktop: Chrome and Safari - BELOW 1600 x 1024
      */
    body {
        background-color: blue!important;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    /*
        Samsung Galaxy Tab 10.1 portrait
    */
}

@media only screen and (max-width: 480px) {
    /*
       HTC
    */
    body {
        background-color: black!important;
    }
}

.home_btn {
    font-size: 16px;
    margin: .5em 0;
    padding: .7em 1em;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:150px;
}

.home_btn_container {
    width:150px;
    margin-left:auto;
    margin-right: auto;
}

.timer_container {
    width:275px;
    margin-left:auto;
    margin-right: auto;
}

    .timer_container_part {
        width:75px;
        float:left;
    }

    .timer_container_part label {
        text-align: center;
    }

    .timer_container input[type=text] {
        text-align: center;
    }

    .start_btn_container {
        float:right;
        width:90px;
        margin-top:50px;

    }
        .start_btn {
            width:60px;
        }

.timer_types_container {
    float:right;
    margin-right: 5px;
    position: relative;
    width:75px;
}

.timer_types_container .ui-btn {
    float:left;
    margin-right:5px;
}

.ui-icon-buteyko-timer {
    background-image: url("../img/timer_16.png");
    background-size: 16px 16px;
}

.ui-icon-buteyko-stopwatch {
    background-image: url("../img/stopwatch_16.png");
    background-size: 16px 16px;
}